iniconfig==2.3.0          # via pytest
packaging==25.0           # via -c requirements.txt, pytest
pluggy==1.6.0             # via pytest
pygments==2.21.0          # via pytest
pytest==8.4.2             # via -r requirements-dev.in, pytest-asyncio
pytest-asyncio==1.4.0     # via -r requirements-dev.in
ruff==0.16.9              # via -r requirements-dev.in
typing-extensions==4.14.1  # via -c requirements.txt, pytest-asyncio
